* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav.ab{
    background-color: rgb(99, 155, 136);
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: rgb(47, 71, 59);
}


.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

img {
    width: 100%;
    height: auto;
}

body {
    background-color: rgb(148, 201, 170);
    font-family: Tahoma,Geneva,sans-serif;
}

#wrap {
    width:90%;
    margin:auto;
    background-color:rgb(175, 201, 186);
    border-radius: 10px;
    padding: 5px;
    -moz-box-shadow: 0px 0px 10px rgb(47, 71, 59);
    -webkit-box-shadow: 0px 0px 10px rgb(47, 71, 59);
    box-shadow: 0px 0px 10px rgb(47, 71, 59);
}

#header{
    background-color: rgb(51, 78, 62);
    height:150px;
}

#header h1{
    color:rgb(47, 71, 59);
    padding:40px 0px 0px 20px;
    text-shadow:#fff 1px 1px 3px;
	float: left;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight: 200;
}

#header img {
    padding:40px 0px 0px 20px;
    float: left;
}

#silebar {
    width:100%;
    float:left;
    border-radius: 10px;
}

#judul_silebar{
    padding:3px;
    text-align:center;
    font-weight:bold;
    border-bottom:1px solid #264139;
    background-color: rgb(51, 78, 62);
    color:white;
    border-radius:5px;
}

#isi_silebar ul{
    list-style-type:none;
    padding:0px;
    margin:0px;
}

#silebar a{
    display:block;
    padding:5px;
    border-bottom:0px solid #264139;
    text-decoration:none;
    font-size: medium;
    color:rgb(51, 78, 62);
}

#silebar a:hover{
    color: #526e62;
}

#konten{
    padding:0px;
    width:100%;
    float:left;
    font-size:11pt;
    margin:5px;
    border-right:1px solid #264139;
    border-bottom:1px solid #264139;
    border-top:1px solid #264139;
    border-left:1px solid #264139;
    border-radius: 10px;
    color:#264139
}

#footer{
    background-color:rgb(51, 78, 62);
    height:200px;
    font-family: 'Libre Franklin', sans-serif;;
    color: rgb(148, 201, 170);
}

#footer #text{
    color:rgb(175, 201, 186);
    padding:10px;
    text-align:center;
    font-size:11pt;
    text-shadow:rgb(175, 201, 186) 1px 1px 2px;
}

[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

input[type=text] {
    width: 35%;
    padding: 12px 20px;
    margin: 8px auto;
    box-sizing: border-box;
    border: none;
    background-color: rgb(175, 201, 186);
    color: rgb(47, 71, 59);
}

input[type=submit], input[type=reset] {
    background-color:rgb(175, 201, 186);
    border: none;
    color: rgb(47, 71, 59);
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    padding: 10px;
}

.ac{
    color:rgb(175, 201, 186);
}
